@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.btnUpload{
    border-style: none;
    background-color: #0000;
    border: 2px solid #faf601;
    color:#faf601;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    right: 0;
}
.btnLikedMemes{
    border-style: none;
    background-color: #0000;
    border: 2px solid #faf601;
    color:#faf601;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    right: 0;
    margin-right: 150px; 
}

.btnUpload p{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.btnLogin:hover{
    background-color: #faf601;
    border: 2px solid #faf601;
    color:#fff;
}
