.swipe-content{
    background-color: #191919;
    width: fit-content;
    height: 620px;
    min-width: 502px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid #191919;
    border-radius: 10px;
    box-shadow: 0 2.7px 10.9px rgb(0, 0, 0,0.4);
}

.swipe-content img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.swipe-content video{
    width: 500px;
    height: 500px;
    border: 0;
}

.swipe-content-button-like{
    width: fit-content;
    height: fit-content;
    float: right;
    margin-right: 40px;
    color: #949494;
}

.swipe-content-button-dislike{
    width: fit-content;
    height: fit-content;
    float: left;
    margin-left: 40px;
    color: #949494;
}

.swipe-container{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 500px;
    margin-top: 5%;
    /* box-shadow: 2px 2px 3px #ccc; */
    border-radius: 10px;
}

.linha-horizontal{
    width: 90%;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 6px;
    border: 1px solid #1b1b1b; 
}

.swipe-content-footer{
    margin-top: 30px;
    height: 10px;
    text-align: center;
}

.spinContainer{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 500px;
    margin-top: 5%;
}