@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.container-upload-image{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 150px;
}

.meme-description{
    align-items: center;
    justify-content: center;
    display: flex;
}

.meme-description p{
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    color: #faf601;
    float: left;
}

.meme-description input{
    font-size: 20px;
    padding: 4px;
    width: 190px;
    float: right;
    border-color: #faf601;
    border-width: 1px;
    border-radius: 10px;
    color: #faf601;
    background-color: #2a2a2e;
    padding-left: 10px;
}

.btnCancelarEnvioImagem{
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 20px;
    background-color: #faf601;
    border-style: none;
    color: #fff;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-left: 264px;
    margin-top: -15px;
    cursor: pointer;
}
.btnCancelarEnvioImagem:hover{
    background-color: #faf601;
}

.btnUploadMeme{
    border-style: none;
    background-color: #0000;
    border: 2px solid #faf601;
    color:#faf601;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}