.meme-container{
    background-color: #191919;
    min-width: 300px;
    width: fit-content;
    min-height: 400px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid #191919;
    border-radius: 10px;
    box-shadow: 0 2.7px 10.9px rgb(0, 0, 0,0.5);
}


.meme-content img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.meme-content video{
    width: 300px;
    height: 300px;
    border: 0;
}



.meme-content-button-like{
    width: fit-content;
    height: fit-content;
    float: right;
    margin-right: 15px;
    color: #949494;
}

.meme-content-button-dislike{
    width: fit-content;
    height: fit-content;
    float: left;
    margin-left: 15px;
    color: #949494;
}

.meme-content-footer{
    margin-top: 30px;
    height: 10px;
    text-align: center;
}